apiVersion: controllers.illallangi.enterprises/v1
kind: DNSResourceRecord
spec:
- name: {{ spec['domainName'] }}
  selector: {{ selector }}
  type: Selector
- name: www.{{ spec['domainName'] }}
  selector: {{ selector }}
  type: Selector